# Codi de creació de laberints per a Minecraft
/create-map/

# Ignorar __pycache__ directories
**/__pycache__/

# Server logs
/Server/logs/

# Ignorar fitxers temporals de Jupyter Notebook
*.ipynb_checkpoints

# Codi amb les respostes als reptes
/Activities/respostes.ipynb